.header{
    height: 80px;
    background-color: #fff;
} 
.header_top{
    border-bottom: 1px solid #00f;
    height: 40px;
    text-align: right;
    line-height: 40px;
    padding-right: 30px;
}
.header_top span{
    margin-right: 10px;
}
.header_bottom{
    height: 40px;
    display: flex;
    align-items: center;
}
.header_bottom_left{
    width:25%;
    text-align:center;
    font-size: 20px;
    position: relative;
}
.header_bottom_left::after{
    content:"";
    position: absolute;
    right:50%;
    top:100%;
    transform: translateX(50%);
    border-top:20px solid #fff;
    border-right:20px solid transparent;   
    border-bottom:20px solid transparent;
    border-left:20px solid transparent;


}
.header_bottom_right{
    width: 75%;
    text-align: right;
    margin-right: 30px;
}
.header_bottom_right img{
    margin:0px 15px;
    width:30px;
    height: 20px;
    vertical-align: middle;
}
.ant-modal-confirm .ant-modal-confirm-btns{
    display: flex
}